.range-slider__track {
  height: 5px;
  background-color: green;
  cursor: pointer;
  position: relative;
}
.range-slider__slider {
  width: 8px;
  height: 15px;
  background-color: red;
  position: absolute;
  top: -5px;
  cursor: pointer;
  z-index: 10000;
}
.scale {
position: relative;
}
.scale__line {
  background: blue;
  height: 30px;
  width: 2px;
  position: absolute;
}
.scale__lien_size_long {
  height: 20px;
  width: 4px;
}
.scale__line_size_short {
  height: 10px;
  width: 3px;
}
.range-slider__flag {
  position: absolute;
  bottom: 20px;
  text-align: center;
  background: rgb(123, 255, 0);
  color: rgb(24, 1, 61);
  border: 1px solid black;
  border-radius: 3px;
  width: 30px;
  height: 20px;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}