.demo__single-slider {
  padding: 30px;
}
.control-panel {
  background-color:mediumturquoise;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.control-panel__wrapper {
  width: 200px;
}
.control-panel__wrapper_size_little {
  width: 140px;
}